/* TEMPLATE
{
	background-color: ;
	width: ; height: ;
	padding-left: ; padding-right: ;
	padding-top: ; padding-bottom: ;
	margin: ;
	float: ;
	font-family: ;
	font-size: ;
	color: ;
	text-align: ;
}
*/

body
{
	background-color: #303030;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

#maincontainer
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logobg
{
	margin-left: auto;
	margin-right: auto;
	border: 8px solid #169DE0;
	border-bottom: 0px;
	width: 964px;
	background-color: #252525;
}

#logo
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 964px;
	padding-top: 35px;
	text-align: center;
}

#zegar
{
	padding-right: 10px;
	padding-bottom: 5px;
	float: right;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: center;
}


/* ---- TOP PANEL ---- */

#toppanel
{
	background-color: #008cff;
	width: 1000px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
}

#information
{
	float: left;
	width: 400px;
}

.infotitle
{
	background-color: #169DE0;
	width: 400px; height: 30px;
	padding-left: 15px; padding-right: 15px;
	padding-top: 10px; padding-bottom: 5px;
	float: left;
	text-align: center;	
}

.information
{
	float: left;
	width: 400px; height: 475px;
	background-color: #222;
	text-align: left;
	padding: 15px;
}

#update
{
	float: left;
	margin-left: 30px;
	width: 260px;
}

.updatetitle
{

	background-color: rgb(19, 143, 214);
	width: 260px; height: 30px;
	padding-left: 15px; padding-right: 15px;
	padding-top: 10px; padding-bottom: 5px;
	float: left;
	text-align: center;	
}

.updateinformation
{
	float: left;
	width: 260px;
	height: 475px;
	background-color: #303030;
	text-align: left;
	padding: 15px;
}

#recentlyadded
{
	float: left;
	margin-left: 30px;
	width: 250px;
}

.recenttitle
{
	background-color:rgb(10, 124, 190);
	width: 250px; height: 30px;
	padding-left: 15px; padding-right: 15px;
	padding-top: 10px; padding-bottom: 5px;
	float: left;
	text-align: center;	
}

.recentlyadded
{
	float: left;
	width: 250px;
	height: 419px;
}

.recenttile1
{
	background-color: #444;
	width: 250px; height: 33%;
	padding-left: 15px; padding-right: 15px;
	padding-top: 15px; padding-bottom: 15px;
	float: left;
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
}

.recenttile2
{
	background-color: #555;
	width: 250px; height: 33%;
	padding-left: 15px; padding-right: 15px;
	padding-top: 15px; padding-bottom: 15px;
	float: left;
	text-align: center;	
}

/* ---- xxx ---- */

/* ---- TOP BORDER ---- */

#borderpanel
{
	/* NICOŚĆ */
}

#topborder
{
	background-color: #169DE0;
	width: 1000px; height: 20px;
}

#bordertitle
{
	margin-left: auto;
	margin-right: auto;
	width: 940px; height: 50px;
	background-color: #252525;
	font-size: 40px;
	padding: 20px;
	text-align: center;
}

/* ---- xxx ---- */

/* ---- MIDDLE PANEL ---- */

.middlepanel
{
	background-color: #444;
	width: 978px;
	padding-top: 10px; padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.tilesubject
{
	border: 8px solid #169DE0;
	font-size: 30px;
	padding: 15px;
	width: 260px; height: 220px;
	margin: 10px;
	background-color: #222;
	float: left;
	text-align: center;
}

.tilesubject:hover
{
	background-color: #083961;
}

/* ---- xxx ---- */

/* ---- STOPKA ---- */

#stopka
{
	margin-left: auto;
	margin-right: auto;
	width: 960px; height: 40px;
	background-color: #252525;
	font-size: 40px;
	padding: 10px;
	text-align: center;
}

.stopka
{
	color: #008cff;
	font-size: 18px;
	float: center;
	width: 100%;
	text-align: center;
}

.version
{
	font-size: 12px;
	float: center;
	width: 100%;
	text-align: center;
}

/* ---- xxx ---- */

/* ---- KOLOR LINKU ---- */

a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.tilelinkhtml5
{
	color: #ffffff;
	text-decoration: none;
}

/* ---- xxx ---- */