/* TEMPLATE
{
	background-color: ;
	width: ; height: ;
	padding-left: ; padding-right: ;
	padding-top: ; padding-bottom: ;
	margin: ;
	float: ;
	font-family: ;
	font-size: ;
	color: ;
	text-align: ;
}
*/ 

body
{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #161616;
	font-size: 20px;
	color: #00ccff;
}

#maincontainer
{
	min-width: 700px;
	margin-bottom: 43px;
}

/* ---- LOGO ---- */

header
{	
	padding-top:1em;
	margin: 0 auto 0 auto;
	border-bottom: 8px solid #00ccff;
	background-color: #000;
}

#logo
{
	font-family: 'Montserrat', sans-serif;
	font-size: 75px;
	text-align: center;
}

#zegar
{
	color: #fff;
	margin-right: 10px;
	padding-bottom: 5px;
	font-size: 20px;
	text-align: right;
}

/* ---- MIDDLE PANEL ---- */

#middlepanel
{
	margin-top: 1em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}


/* ---- POJEMNIK NA SEKCJE ---- */

.topbox
{
	margin: 0 3em 0 3em;
	min-height:60vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	float: left;
	min-width:450px;
}

.halfbox
{
	display: flex;
	flex-basis: 400px;
	flex-grow: 0.4;
}

/* ---- INFORMACJE ---- */

.title
{
	padding:0.5em;
	width: calc (100% - 0.5em);
	float: left;
	border-bottom: 8px solid #00ccff;
	color: #00ccff;
	height: 20px;
	text-align: center;
}

.infobox
{
	color: #fff;
	padding: 0.5em;
	padding-top: 0;
	display: flex;
	flex-basis: 500px;
	flex-grow: 0.1;
	flex-direction: column;
	text-align: justify;
	margin-bottom: 1em;
}

#infotext
{
	padding: 0 0.5em;
}

/* ---- SKRÓTY ---- */

.shortcutsbox
{
	flex-basis:500px;
	min-height: 60vh;
	display: flex;
	flex-grow: 0.50;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.shortcut
{
	padding-top: 1em;
	flex-basis: 40%;
	color: #00ccff;
	font-size: 25px;
	display: flex;
	text-align: center;
	vertical-align: center;   
	justify-content: center;
	flex-direction: column;
}

a.shortcut
{
	display: block;
	width: 100%; height: 100%;
	text-decoration: none;
	color: #00ccff;
}

.shortcut:hover
{
	color: #fff;
}

.shortcuticon
{
	margin-left: auto; margin-right: auto;
	margin-bottom: 0.5em;
	height: 170px; width: 170px; 
}

/* ---- STOPKA ---- */

footer
{
	border-top: 6px solid #00ccff;
	width: 100vw;
	height: 43px;
	position: fixed;
	bottom: 0;
	background-color: #000;
	padding: 8px 0 8px 0;
	font-size: 40px;
	text-align: center;
}

.footer
{
	margin-left: 0;
	color: #00ccff;
	font-size: 18px;
	float: center;
	text-align: center;
}

.version
{
	font-size: 12px;
	margin-top: 3px;
	float: center;
	text-align: center;
}

/* ---- KOLOR LINKÓW ---- */

a.homelink
{
	color: #fff;
	text-decoration: none;
}
