<!DOCTYPE HTML>
<html lang="pl">
<head>
    
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Krzaczasta Dolina - C++</title>
	
	<meta name="description" content="Krzaczasta strona" />
	<meta name="keywords" content="krzaker, krzaczasta, dolina, krzaczaste, archiwium, kushakeru" />
    <link rel="stylesheet" href="../css/styleold.css" type="text/css" />
    <link rel="stylesheet" href="../css/archive/code.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="templates.js"></script>
    	
</head>

<body>

    <!-- UWAGA TEN HTML TO TOTALNY SYF! CZYTASZ NA WŁASNĄ ODPOWIEDZIALNOŚĆ :V -->

	<div id="maincontainer"> <!-- >> &lt;iostream&gt; &lt;&lt; -->
        
        <!-- LOGO -->

        <header>
            <div id="logo"><a href="../index.html" class="homelink">Krzaczasta Dolina</a></div>
			<div style="clear: both;"></div>
        </header>

        <!-- GŁÓWNA CZĘŚĆ STRONY -->

        <section id="zadania">

            <!-- PUSTY HTML -->

            <section class="zadanie">

                <div class="codetitle">Szablon</div>

                <div class="codedesc">
                    Pusty HTML do przekopiowania
                </div>

                    <div class=code>
                        <code>
                        <pre class="prettyprint lang-html">
                        <script>txtHTMLtemplate();</script>
                        </pre>
                        </code>
                    </div>
            
            </section>

        </section>

        <div style="clear: both;"></div>
    
        <footer>
        
            <!-- STOPKA -->
            
            <div class="footer">2019 &copy; | KrzakeR | krzakerpl@gmail.com</div>
            <div class="version"><a href="https://github.com/KrzakeR/KrzakeR.github.io/commits" class="homelink">WERSJA : tmp.B01</a></div> 

        </footer>
	
    </div>

</body>
</html>