/* TEMPLATE
{
	background-color: ;
	width: ; height: ;
	padding-left: ; padding-right: ;
	padding-top: ; padding-bottom: ;
	margin: ;
	float: ;
	font-family: ;
	font-size: ;
	color: ;
	text-align: ;
}
*/ 

body
{
	background-color: #303030;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

#maincontainer
{
	min-width: 1000px;  max-width: 75vw;
	margin: auto;
}

@media only screen and (max-width: 720px) { /* MOŻE SIĘ PSUĆ */
	body {
		max-width: 95vw;
		margin: auto;
	}
  }

/* ---- LOGO ---- */

header
{	
	margin: 0 auto 0 auto;
	border: 8px solid #3399ff;
	border-bottom: 0px;
	background-color: #252525;
}

#logo
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	padding-top: 35px;
	text-align: center;
}

#zegar
{
	margin-right: 10px;
	padding-bottom: 5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: right;
}

/* ---- MIDDLE PANEL ---- */

#middlepanel
{
	width: 100%;
	min-height: 500px;
}

/* ---- TYTUŁY ---- */

.title
{
	float:left;
	width: calc( 50% - 12px );
	padding: 5px 0 7px 0;
	background-color: #1177dd;
	border-top: 8px solid #3399ff; border-left: 8px solid #3399ff; border-right: 8px solid #3399ff;
	height: 20px;
	text-align: center;
}

.info
{
	border-right: 4px solid #3399ff;
}

.shortcuts
{
	border-left: 4px solid #3399ff;
}

/* ---- POJEMNIK NA SEKCJE ---- */

.topbox
{
	border: 8px solid #3399ff;
	float: left;
	width: calc(100% - 16px);
	background-color: #1177dd;
	height: 500px;
}

.halfbox
{
	float: left;
	width: calc( 50% - 4px );
	background-color: #1177dd;
	background: #191919;
	height: 500px;
}

/* ---- INFORMACJE ---- */

.infobox
{
	width: calc( 50% - 34px ); height: 470px;
	text-align: justify;
	padding: 15px;
	border-right: 4px solid #3399ff;
}

/* ---- SKRÓTY ---- */

.shortcutsbox
{
	display: flex;
	border-left: 4px solid #3399ff;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.shortcut
{
	font-size: 25px;
	background-color: #191919;
	width: 50%; height: 50%;
	display: flex;
	text-align: center;
	vertical-align: center;   
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

a.shortcut
{
	width: 100%; height: 100%;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.shortcut:hover
{
	background-color: #003d83;
}

.shortcuticon
{
	margin-left: auto; margin-right: auto;
	margin-bottom: 0.5em;
	height: 170px; width: 170px; 
}

/* ---- STOPKA ---- */

footer
{
	min-width: 1000px;  max-width: 75vw;
	margin-left: auto;
	margin-right: auto;
	height: 43px;
	background-color: #252525;
	padding: 8px 0 8px 0;
	font-size: 40px;
	text-align: center;
}

.footer
{
	color: #008cff;
	font-size: 18px;
	float: center;
	text-align: center;
}

.version
{
	font-size: 12px;
	margin-top: 3px;
	float: center;
	text-align: center;
}

/* ---- KOLOR LINKÓW ---- */

a.homelink
{
	color: #ffffff;
	text-decoration: none;
}
