#logo
{
	margin-left: auto; margin-right: auto;
	padding-bottom: 0.25em;
}

#bazycontainer
{
	margin-left: auto; margin-right: auto;
	min-width: 700px; max-width: calc(700px + 25vw);
	margin-bottom: 80px;
}

.kartkowka
{

	font-size: calc(0.7em + 0.3vw);
	border-radius: 10px;
	color: #fff;
	min-width: 700px;
	margin: 15px auto 15px auto;
	padding: 10px 1em 10px 1em;
	background-color: #252525;
	margin-bottom: 43px;
}

.bazytitle
{
	padding: 0; margin: 0 0 0.5em 0;
	font-family: 'Montserrat', sans-serif;
	font-size: calc(2em + 0.3vw);
	background-color: #161616;
	border-top: 8px solid #00ccff;
	border-bottom: 8px solid #00ccff;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

.komenda
{
	min-width: 700px;
	margin: 10px;
	margin-bottom: calc(10px + 0.5vh);
	background-color: #161616;
	border-radius: 5px;
	padding: calc(0.5em + 0.3vw);
	border-left: 8px solid #00ccff;
}

.komendatitle
{
	padding: 0 0 0.5em 0;
}

.komendacode
{
	border-radius: 5px;
	background: #fff;
	text-align: left;
	padding: 0.25em;
}